@import "tailwindcss";

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
  height: 6px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #000000; /* Color of the scrollbar track */
  border-radius: 6px; /* Optional: rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #ff7520; /* Color of the scrollbar thumb (draggable part) */
  border-radius: 6px; /* Optional: rounded corners for the thumb */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #f78736; /* Color of the thumb on hover */
}

/* For Firefox */
/* Note: Firefox has limited styling options for scrollbars */
html::-webkit-scrollbar {
  scrollbar-color: #ff7520 #000000; /* thumb color track color */
  scrollbar-width: thin; /* auto | thin | none */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
